<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Talk To Me</a>
    </div>
</div>

<div class="flex-shrink-0 p-3" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                TTS
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="NPC" Match="NavLinkMatch.All">
                            NPC
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="SSML" Match="NavLinkMatch.All">
                            SSML
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="Narrative" Match="NavLinkMatch.All">
                            Narrative
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="Narrative-Voice" Match="NavLinkMatch.All">
                            Narrative Voice
                        </NavLink>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Avatar
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <NavLink class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="Avatar" Match="NavLinkMatch.All">
                            Proxmia
                        </NavLink>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>